<table class="table table-stripped">
  <thead>
  <tr>
    <th scope="col">Avatar</th>
    <th scope="col">Login</th>
    <th scope="col">Display Name</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of userInfos">
    <th scope="row">
      <img src="{{user.avatarUrl}}" alt="avatar" style="max-height: 75px">
    </th>
    <td>{{user.login}}</td>
    <td>{{user.displayName}}</td>
    <td>{{routes.buildUrl(routes.userProfile, user.id)}}</td>
  </tr>
  </tbody>
</table>
